<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Application RH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <div id="main" v-cloak>
                <h1>Application CDD pour les RH</h1>
                    <!-- 
                        Créer une SPA (Single Page App) qui effectue ces calculs à partir des dates de contrat
                        (début et fin) et du nombre d'heures hebdomadaire.
                        On a donc besoin de trois champs "input" pour entrer ces valeurs
                    -->
                    <div id="entrees" v-cloak>
                        <label for="dateDebut">Date de début de contrat:</label>
            
                        <input type="date" id="dateDebut" name="dateDebut"
                            value=""
                            min="1900-01-01" max="3000-12-31"
                            v-model="dateDebut"
                        >
                        
            
                        <label for="dateFin">Date de fin de contrat:</label>
            
                        <input type="date" id="dateFin" name="dateFin"
                                    value=""
                                    min="1900-01-01" max="3000-12-31" v-model="dateFin"
                        >
                        
                        <div v-bind:class="alert">
                            <p>{{alertDateMessage}}</p>
                        </div>
            
                        <label for="nbHeures">Nombre d'heures par semaine :</label>
            
                        <input type="number" step="0.5" id="nbHeures" name="nbHeures"
                        v-model="nbHeuresHebdo" 
                        
                        >
                        
                        <div v-bind:class="alert">
                            <p>{{alertHeuresHebdoMessage}}</p>
                        </div>

                        <br><br>
                        
            
                        <!-- au clic sur le bouton "calculer", on appelle la méthode calculer -->
                        <button  v-on:click="calcul(); calculsGo();" v-on:click.prevent class="btn btn-success">Calculer</button>
            
                    </div>
                
        
                 <div v-if="show" id="sorties">
                    
                    <div id="datesEntrees">
                        <div >
                            <p>Date de début de contrat :<br> {{dateDebut}} </p>
                        </div>
                        <div>
                            <p>Date de fin de contrat :<br> {{dateFin}} </p>
                        </div>
                    </div>

                    <div>
                        <p class="lead">Nombres d'heures travaillées par semaine : {{nbHeuresHebdo}}</p>
                    </div>

                    <label for="nbJoursContrat">Nombre de jours du contrat :</label>
                    <div id="nbJoursContrat">
                        <p class="lead">{{nbJoursContrat}}</p>
                    </div>

                    <label for="nbJoursOuvres">Nombre de jours ouvrés travaillés :</label>
                    <div id="nbJoursOuvres">
                        <p class="lead">{{nbJoursOuvres}}</p>
                    </div>



        
                    <label for="nbHeuresContrat">Nombre d'heures du contrat :</label>
                    <div id="nbHeuresContrat">
                        <p class="lead">{{nbHeuresContrat}}</p>
                    </div>
        
                    <label for="ETP">ETP :</label>
                    <div id="ETP">
                        <p class="lead">{{ETP}}</p>
                    </div>


                    <label for="nbConges">Nombre de congés du contrat :</label>
                    <div id="nbConges">
                        <p class="lead">{{nbConges}}</p>
                    </div>
                 </div>

            </div>
        <!-- intégration vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment-with-locales.min.js"></script>
        <script>
            moment().format();


        </script>
    
        <!-- scripts vue js -->
        <script>
         

            var rhCalculs= new Vue ({

            el: '#main',
            
            data : {
                show: false,
                dateDebut:"",
                dateFin:"",
                nbHeuresHebdo:35,
                nbJoursContrat: 0,
                nbJoursOuvres:0,
                nbHeuresContrat:0,
                ETP:0,
                nbConges:0,
                alert:"validity",
                alertDateMessage:"",
                alertHeuresHebdoMessage:"",
                
            },

            methods: {

                calculsGo:function() {
                    if(this.nbJoursContrat>365 || this.nbJoursContrat<0) {
                        this.alert="alert alert-danger";
                        if(this.nbJoursContrat>365) {
                            this.alertDateMessage="Durée du contrat supérieure à un an.";
                        }

                        else {

                            this.alertDateMessage="Dates incorrectes : date de sortie antérieure à date d'entrée.";
                        }
                    }

                    else if(this.nbHeuresHebdo==0) {
                        this.alert="alert alert-danger";
                        this.alertHeuresHebdoMessage="Entrez le nombre d'heures";
                    }

                    else {
                        this.show=true;
                    }

                    
                },

               

                calcul:function() {


                
                //enregistrement des dates en objet moment
                    var deb=moment(this.dateDebut);
                    var fin=moment(this.dateFin);
                
                    
                    

                //calcul nombre de jours du contrat

                    this.nbJoursContrat=(fin.diff(deb,'day'))+1;


                //---------------------------------------------------------
                //-------------calcul nombre d'heures du contrat---------
                //----------------------------------------------------------
                    
                    //jours ouvrés * nombre heures journaliers
                    //calcul jours ouvrés - du lundi au vendredi

                    let dayToint=deb.day();
                    let nextDay;
                    this.nbJoursOuvres=this.nbJoursContrat;

                     for (let i=0;i<this.nbJoursContrat;i++) {
                        
                         if(dayToint==6 || dayToint==0) {
                          this.nbJoursOuvres--;
                         }
                         nextDay=deb.add(1, 'day');
                         dayToint=nextDay.day();
                     }
             
                 //nombre heures par jour
                 let nbHeuresJour=this.nbHeuresHebdo/5;

                this.nbHeuresContrat=nbHeuresJour*this.nbJoursOuvres;


                //----------------------------------------------------------
                //------------calcul nombre de jours de congés---------------
                //----------------------------------------------------------
                    if(this.nbJoursContrat>28) {
                        this.nbConges=Math.ceil((this.nbJoursContrat/28)*2.08);
                    }

                    if(this.nbConges>=25){
                        this.nbConges=25;
                    }
                
                //----------------------------------------------------------
                //------------calcul ETP---------------
                //----------------------------------------------------------
                    // durée théorique annuelle de travail à temps plein 1607h pour un 35h
                    let dureeTheoriqueAnnuelle=1607;
                    
                    //ne pas arrondir
                    this.ETP=(this.nbHeuresContrat/dureeTheoriqueAnnuelle).toFixed(2);


                },

                dateFR: function(d) {

                    d= new Date(d);
                    let day=d.getDay();
                    dateFr=moment(d, "DD-MM-YYYY");
                    return dateFr;
                }

            }
            })

        </script>
    </body>
</html>