<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <div id="main" v-cloak>
                <h1>Application CDD pour les RH</h1>
                    <!-- 
                        Créer une SPA (Single Page App) qui effectue ces calculs à partir des dates de contrat
                        (début et fin) et du nombre d'heures hebdomadaire.
                        On a donc besoin de trois champs "input" pour entrer ces valeurs
                    -->
                    <div id="entrees" v-cloak>
                        <label for="dateDebut">Date de début de contrat:</label>
            
                        <input type="date" id="dateDebut" name="dateDebut"
                            value=""
                            min="1900-01-01" max="3000-12-31"
                            v-model="dateDebut"
                        >
                        
            
                        <label for="dateFin">Date de fin de contrat:</label>
            
                        <input type="date" id="dateFin" name="dateFin"
                                    value=""
                                    min="1900-01-01" max="3000-12-31" v-model="dateFin"
                        >
                        
            
                        <label for="nbHeures">Nombre d'heures par semaine :</label>
            
                        <input type="number" step="0.5" id="nbHeures" name="nbHeures"
                        v-model="nbHeuresHebdo"
                        >

                        <br><br>
            
                        <!-- au clic sur le bouton "calculer", on appelle la méthode dureeContratJours -->
                        <button v-on:click="calcul" v-on:click.prevent class="btn btn-success">Calculer</button>
            
                    </div>
                
        
                 <div id="sorties">
                    
                    <label for="nbJoursContrat">Nombre de jours du contrat :</label>
                    <div id="nbJoursContrat">
                        <p class="lead">{{nbJoursContrat}}</p>
                    </div>
        
                    <label for="nbHeuresContrat">Nombre d'heures du contrat :</label>
                    <div id="nbHeuresContrat">
                        <p class="lead">{{nbHeuresContrat}}</p>
                    </div>
        
                    <label for="ETP">ETP :</label>
                    <div id="ETP">
                        <p class="lead">{{ETP}}</p>
                    </div>


                    <label for="nbConges">Nombre de congés du contrat :</label>
                    <div id="nbConges">
                        <p class="lead">{{nbConges}}</p>
                    </div>
                 </div>

            </div>
        <!-- intégration vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment-with-locales.min.js"></script>
        <script>
            moment().format();
//            var moment = require('moment-business-days');

        </script>
    
        <!-- scripts vue js -->
        <script>


                // trois calculs à effectuer avec les données envoyées par les inputs
                // donc on sait qu'on va utiliser du v-bind
                // la durée des contrats des CDD en heures
                // la durée des contrats des CDD en jours
                // le calcul des congés acquis.


            //fonction pour faire apparaître les divs de résultats quand on clique sur le bouton "calculer"    
            //donc on va utiliser le v-bind sur la div "sorties"
            

var rhCalculs= new Vue ({

 el: '#main',
 
 data : {
    dateDebut:"",
    dateFin:"",
    nbHeuresHebdo:0,
    nbJoursContrat: 0,
    nbHeuresContrat:0,
    ETP:0,
    nbConges:0
 },

 methods: {

    calcul:function() {
     //calcul nombre d'heures travaillées avec librairie moment
        var deb=moment(this.dateDebut);
        var fin=moment(this.dateFin);
        //console.log(deb);
        //jours ouvrés
        // var diff = moment('05-15-2017', 'MM-DD-YYYY').businessDiff(moment('05-08-2017','MM-DD-YYYY'));

       // var diff = moment(deb, 'MM-DD-YYYY').businessDiff(moment(fin,'MM-DD-YYYY'));
        //console.log(diff);
                

        

    //calcul nombre de jours du contrat
        this.dateDebut = new Date (this.dateDebut).getTime();
        this.dateFin = new Date (this.dateFin).getTime();
        
    
        var diff_Date = this.dateFin - this.dateDebut;
        this.nbJoursContrat=(diff_Date/ (1000 * 3600 * 24))+1;

    

        
      

    //calcul nombre de jours de congés
        this.nbConges=Math.ceil((this.nbJoursContrat/28)*2.08);
        console.log(this.nbConges);
    },

   

 }
})

        </script>
    </body>
</html>