body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px auto;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;

    margin: auto;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    text-align: center;

}

#entrees, #sorties {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 50px auto;
    padding : 20px;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    text-align: center;

}

#entrees {
    
    border : 2px solid green;
    border-radius: 10%;
}

#sorties {
    border : 2px solid orangered;
    border-radius: 10%;
}

#datesEntrees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    margin: 10px auto;
    padding: 10px;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
}


#datesEntrees div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
    
}



[v-cloak] {
    display: none;
  }

  *{
      margin:0;
      padding:0;
  }

.validity {
    display:none;
}

